.drawOptions{
    margin-top: 10px;
    z-index: 2;
}

select{
    margin-left: 5px;
    font-size: 20px;
    padding-left: 2px;
}

.lineBox label{
    border: 2px solid black;
}

.allOptions{
    display: grid;
}

#canvas{
    z-index: 1;
}

.styleCard{
    border: 3px black solid;
    width: 40%;
}

.shapesOptions{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.tools{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--bs1: #ffffff;
	--bs2: #f3f4f8;
	--bs3: #cccdd1;
	--bs4: #c1c2c5;
	--transDur: 0.1s;
	font-size: calc(20px + (40 - 20)*(100vw - 320px)/(2560 - 320));
}

input[type = "radio"] {
	color: var(--fg);
	font: 1em/1.5 Muli, sans-serif;
}


.shapesOptions input[type = "radio"]{
    width: 2.5rem;
	height: 2.5em;
    transition: all var(--transDur) ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    display: none;
}
.shapesOptions .tools {
	border-radius: 0;
	box-shadow:
		0.15em 0.15em 1em var(--bs2) inset,
		-0.15em -0.15em 1em var(--bs3) inset,
		0.15em 0.15em 0.45em var(--bs4), 
		-0.15em -0.15em 0.45em var(--bs1);
	cursor: pointer;
	display: block;
	width: 2.5rem;
	height: 2.5em;
	transition: all var(--transDur) ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.shapesOptions label svg {
    width: 1.5rem;
    height: 1.5rem;
}

.tools:hover {
    transform: scale(1.2);
}




