@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.streamingWindow{
    position: absolute;
    z-index: 3;
    display: flex;
    border-radius: 50%;
    flex-direction: column;
    padding-right: 10px;
    top: 70%;
    right: 1%;
}

.startButton{
    color: white;
    cursor: pointer;
    background-color: green;
    padding: 5px 15px 5px 15px;
    font-size: 22px;
    font-weight: 400;
    margin-top:4px;
    margin-right: 4px;
}

.stopButton{
    color: white;
    width: fit-content;
    cursor: pointer;
    background-color: red;
    padding: 5px 15px 5px 15px;
    font-size: 22px;
    font-weight: 400;
    margin-top:4px;
    margin-right: 4px;
}

.startButton:hover{
    background-color: rgb(6, 172, 6);
}

.stopButton:hover{
    background-color: tomato;
}

.buttons{
    display: flex;
    justify-content: center;
}

.contentWindow{
    display: none;
}

.answerButton{
    color: white;
    cursor: pointer;
    background-color: green;
    padding: 5px 15px 5px 15px;
    font-size: 22px;
    font-weight: 400;
    margin-right: 0px;
    display: none;
}

.answerButton:hover{
    background-color: rgb(6, 172, 6);
}

body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 80px 10px;
}

/* video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50;
} */
.fa-clipboard-list{
font-size: 45px;
color: rgba(9, 218, 131, 0.932);
}

.inviteLink{
    display: none;
}