.inputOutput{
    display: flex;
    flex-direction:column;
}

.editor{
    display: flex;
    flex-direction: column;
}

.multilanguageIde{
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

textarea{
    border: none;
    overflow: auto;
    outline: none;
    color: white;
    font-size: 17px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #494A4E;
}

textarea::-webkit-input-placeholder{
    font-size: 17px;
    font-weight: 600;
}

.inputArea{
    color: white;
    background-color: #494A4E;
    flex: 1;
    border-bottom: 5px solid #202020;
}

.outputArea{
    color: white;
    background-color: #494A4E;
    flex: 1;
}

.inputArea h3{
    margin: 0;
}

.outputArea h3{
    margin: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#1E1E1E;
    border-bottom: 1px solid #818181;
}

.fileName{
    color: white;
    background-color: #202020;
    padding: 4px;
}

#language{
    margin-right: 10px;
    color: white;
    background-color:#1E1E1E;
    padding: 2px;
    border: 1px solid white;

}

.showCodeOutput{
    color: white;
    cursor: pointer;
    background-color: green;
    border-radius: 6px;
    padding: 4px 5px 4px 5px;
    font-size: 20px;
    font-weight: 600;
    margin-top:4px;
    margin-right: 4px;
}

.showCodeOutput .fa-play{
    font-size: 18px;
}