.recorder-button{
    position: absolute;
    z-index: 100;
    top: 2vh;
    right: 3vw;
    cursor: pointer;
  }

.record{
    background: none;
}

.fa-microphone{
    font-size: 1.5rem;
    color: gray;
  }

  .fa-microphone:hover{
    font-size: 1.7rem;
    color: rgb(160, 160, 160);
    transition: 0.1s;
  }
  
  
.fa-microphone-slash{
    font-size: 1.3rem;
    display: none;
    color: red;
}

.chalk{
  height: 100vh;
}

.uploadForm{
  position: absolute;
}

.fa-file-upload{
  font-size: 1.5rem;
  color: rgb(9, 184, 9);
}

.upload-button{
  position: absolute;
  top: 2vh;
  right: 5vw;
  z-index: 100;
}

.upload-button i:hover{
  font-size: 1.7rem;
  color: rgb(9, 216, 9);
  transition: 0.1s;
}