#submit{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    background-color: greenyellow;
}

#lectureName{
    height: 2rem;
    margin: 10px;
}