.drawOptions{
    margin-top: 10px;
    margin-left: 10px;
}

select{
    margin-left: 5px;
    font-size: 20px;
    padding-left: 2px;
}

.lineBox label{
    border: 2px solid black;
}

.allOptions{
    display: grid;
    overflow: hidden;
}

.drawOptions{
    position:absolute
}

.styleCard{
    border: 3px black solid;
    width: 40%;
}

.shapesOptions{
    display: flex;
    flex-direction: row;
}