body{
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;;
  overflow: hidden;
}

.sidebar {
  background-color: #3e3e42;

}

.explorer{
  margin-bottom: 10px;
  margin-left: 8px;
  color: #a7a7b3;
  font-size: 1.5rem;
  background-color: #3e3e42;
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  background: linear-gradient(#00040c 80%, transparent);
  height: 370px;
  border-radius: 100%;
  margin-left: -100px;
  margin-top: -20px;
  z-index: -1;
  opacity: 0;
  transform: scale(0.4) translateY(-400px) translateX(300px);
  margin-left: 0;
  margin-top: 0;
  transition: 400ms ease;
}
.shape:nth-child(2) {
  background: linear-gradient(#252c35 80%, transparent);
  margin-top: 70px;
  margin-left: 50px;
  transform: scale(0.4) translateY(-400px);
  margin-top: 0;
}

@-webkit-keyframes float {
  20% {
    top: 0;
    left: -100px;
  }
  50% {
    left: 0;
  }
  100% {
    top: 500px;
    left: -100px;
  }
}

@keyframes float {
  20% {
    top: 0;
    left: -100px;
  }
  50% {
    left: 0;
  }
  100% {
    top: 500px;
    left: -100px;
  }
}

.customCursor {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 220px;
  left: 220px;
  background: url(./assets/cursor.svg);
  z-index: 10000;
}

.click {
  border-radius: 50%;
  background: url(./assets/cursor.svg);
  position: fixed;
  width: 50px;
  height: 50px;
}



.player {
  width : 50px;
  height: 50px;
  margin-left: 55px;

}

.IDE{
  display: flex;
}

.outputiframe{
  width: 50vw;
}


.Modal {
  position: absolute;
  top: 20vh;
  left: 20vw;
  right: 20vw;
  bottom: 20vh;
  background-color: #e5e5e5;
  z-index: 1000000;
  display: flex;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  
}

.outputbutton {
  position: absolute;
  font-size: small;
  left: 2vw;
  top: 87vh;
  z-index: 100;
  background-color: green;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 5px;
}

.MuiButton-label{
  color: whitesmoke;
  font-weight:600;
  text-transform: lowercase;
  font-size: 15px;
  text-align: left;
}

.MuiButton-root{
  padding: 0;
  margin: 0;
}

.file:hover{
  background-color: #1e1e1e !important;
}

.file:disabled{
  background-color: #1e1e1e !important;
}

.scriptbutton {
  color: white;
  background-color: #3e3e42;
  font-size: medium;
  border: none;
  padding: 5px;
  text-align: left;
  width: 11vw;
}

.MuiButton-root.Mui-disabled {
  color: red;
}

.scriptbutton:disabled {
  color: bisque;
  background-color: #1e1e1e !important;
  border: none;
  padding: 5px;
  text-align: left;
}

.texteditor{
  margin-left: 10vw;
}

.videoplayer{
  position: absolute;
  z-index: 100;
  top: 90vh;
  width: 100vw;
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.recorder-button{
  position: absolute;
  z-index: 100;
  top: 2vh;
  right: 11vw;
  cursor: pointer;
}

.record{
  background: none;
}

.fab{
  font-size: 1rem;
}

.fa-html5{
  color:#cc0000;
  margin-right: 5px;
}

.fa-css3-alt{
  color: #0066ff;
  margin-right: 5px;
}

.fa-js-square{
  color: #ffd11a;
  size: 2px;
  margin-right: 5px;
}

.fa-microphone{
  font-size: 1.5rem;
  color: whitesmoke;
}

.fa-microphone-slash{
  font-size: 1.3rem;
  display: none;
  color: red;
}

.fa-play-circle{
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: skyblue;
  z-index:2;
  opacity: 0.8;
}

.fa-play-circle:hover{
  transition: 200ms;
  font-size: 8rem;
}

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000000;
  background-color: rgba(0, 0, 0, 0.3);
}


.loading-hide{
  display: none;
}

.videoplayer{
  display: none;
}

audio{
  width:80%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);;
  display: flex;
}

audio::-webkit-media-controls-enclosure{
  background: none;
}


audio::-webkit-media-controls-play-button {
  background-size: 50px;
}

#mobileview{
  display: none;
}

@media screen and (max-width: 350px) {
  #root{
      display: none;
  }
  #mobileview{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}
