.cursor {
  border-radius: 50%;
  background: blue;
  width: 10px;
  height: 10px;
  position: fixed;
  top: 220px;
  left: 220px;
}

.click {
  border-radius: 50%;
  background: blue;
  position: fixed;
  width: 20px;
  height: 20px;
}

.clicked {
  border: 2px solid blue;
}