#submit{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    background-color: greenyellow;
    width: 10%;
}

#lectureName, #creator{
    height: 2rem;
    margin: 10px;
    width: 30%;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid rgb(119, 118, 118);
}

input::-webkit-input-placeholder{
   font-size: 20px; 
}

#language{
    display: none;
    height: 30px;
}

.lectureForm{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
}

.lectureDetails{
    display: flex;
    flex-direction: column;
}

#lectureType{
    width: 15%;
    height: 30px;
}

.thumNailPreview{
    display: none;
    width: 500px;
    height: 300px;
}