#webd_draw{
    height: 100vh;
}

.fp-controlArrow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 4;
    top: 80%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.fp-next {
  display: none; 
}

.fp-prev {
    width: auto !important;
    border-color: transparent !important;
    color: white;
    padding: 10px;
    height: auto !important;
    left: 0 !important;
}

.fp-prev::before {
   content: "Switch Screens";
   background-color: black !important;
}